.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header span {
  display: flex;
}

h1 {
  margin: 0px;
}

.App-header img {
  margin: unset;
  object-fit: contain;
  width: 9vw;
  min-width: 48px;
  max-width: 64px;
}

li, main > ul {
  display: flex;
  padding: 0px;
  justify-content: space-around;
}

main > ul {
  list-style-type: none;
  flex-wrap: wrap;
}

li {
  flex-basis: 21%;
  flex-direction: column;
}

img {
  margin: auto;
  object-fit: contain;
  max-width: 96px;
}

#modal-root > div {
  background-color: rgba(0,0,0,0.75);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  justify-content: center;
  align-items: center;
}

#modal-root > div > div {
  width: 35em;
  max-width: 90vw;
  height: 45em;
  max-height: 90vh;
  overflow: auto;
  background-color: rgb(256, 256, 256);
}

img.pokeball {
  filter: grayscale(100%);
}
